In [1]:
import pandas as pd
df= pd.read_csv('data/eurostat1_ICT.csv')

In [2]:
import pycountry

name= df['geo'].values.tolist()

lst2=[]
for i in name:
    val = pycountry.countries.get(alpha_2=i)
    if val !=None:
        lst2.append(val.name)
    else:
#         lst2.append(pycountry.countries.get(alpha_3=i))
        lst2.append(i)


# print(len(name))
# print(len(lst2))
# lst2
df

,DATAFLOW,LAST UPDATE,freq,indic_is,unit,ind_type,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:TIN00102(1.0),15/12/22 11:00:00,A,I_IUJOB,PC_IND,IND_TOTAL,AL,2019,9.70,NaN
1,ESTAT:TIN00102(1.0),15/12/22 11:00:00,A,I_IUJOB,PC_IND,IND_TOTAL,AL,2021,4.91,NaN
2,ESTAT:TIN00102(1.0),15/12/22 11:00:00,A,I_IUJOB,PC_IND,IND_TOTAL,AT,2005,6.22,NaN
3,ESTAT:TIN00102(1.0),15/12/22 11:00:00,A,I_IUJOB,PC_IND,IND_TOTAL,AT,2006,8.58,NaN
4,ESTAT:TIN00102(1.0),15/12/22 11:00:00,A,I_IUJOB,PC_IND,IND_TOTAL,AT,2007,8.01,NaN
...,...,...,...,...,...,...,...,...,...,...
424,ESTAT:TIN00102(1.0),15/12/22 11:00:00,A,I_IUJOB,PC_IND,IND_TOTAL,UK,2015,25.54,NaN
425,ESTAT:TIN00102(1.0),15/12/22 11:00:00,A,I_IUJOB,PC_IND,IND_TOTAL,UK,2017,23.58,NaN
426,ESTAT:TIN00102(1.0),15/12/22 11:00:00,A,I_IUJOB,PC_IND,IND_TOTAL,UK,2019,24.64,NaN
427,ESTAT:TIN00102(1.0),15/12/22 11:00:00,A,I_IUJOB,PC_IND,IND_TOTAL,XK,2017,10.73,NaN
428,ESTAT:TIN00102(1.0),15/12/22 11:00:00,A,I_IUJOB,PC_IND,IND_TOTAL,XK,2019,15.30,NaN

In [3]:
new_names = ['Albania',
 'Albania',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Bosnia and Herzegovina',
 'Bosnia and Herzegovina',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Switzerland',
 'Switzerland',
 'Switzerland',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Cyprus',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Czechia',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Denmark',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Estonia',
 'Estonia',
 'Estonia',
 'Estonia',
 'Estonia',
 'Estonia',
 'Estonia',
 'Estonia',
 'Estonia',
 'Estonia',
 'Estonia',
 'Estonia',
 'Greece',
  'Greece',
  'Greece',
  'Greece',
  'Greece',
  'Greece',
  'Greece',
  'Greece',
  'Greece',
  'Greece',
  'Greece',
  'Greece',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'EU27_2007',
 'EU27_2007',
 'EU27_2007',
 'EU27_2007',
 'EU27_2007',
 'EU27_2007',
 'EU27_2007',
 'EU27_2007',
 'EU27_2007',
 'EU27_2007',
 'EU27_2020',
 'EU27_2020',
 'EU27_2020',
 'EU27_2020',
 'EU27_2020',
 'EU27_2020',
 'EU27_2020',
 'EU27_2020',
 'EU27_2020',
 'EU27_2020',
 'EU28',
 'EU28',
 'EU28',
 'EU28',
 'EU28',
 'EU28',
 'EU28',
 'EU28',
 'EU28',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Croatia',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Hungary',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'Ireland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Iceland',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Lithuania',
 'Lithuania',
 'Lithuania',
 'Lithuania',
 'Lithuania',
 'Lithuania',
 'Lithuania',
 'Lithuania',
 'Lithuania',
 'Lithuania',
 'Lithuania',
 'Lithuania',
 'Luxembourg',
 'Luxembourg',
 'Luxembourg',
 'Luxembourg',
 'Luxembourg',
 'Luxembourg',
 'Luxembourg',
 'Luxembourg',
 'Luxembourg',
 'Luxembourg',
 'Luxembourg',
 'Luxembourg',
 'Latvia',
 'Latvia',
 'Latvia',
 'Latvia',
 'Latvia',
 'Latvia',
 'Latvia',
 'Latvia',
 'Latvia',
 'Latvia',
 'Latvia',
 'Latvia',
 'Montenegro',
 'Montenegro',
 'Montenegro',
 'North Macedonia',
 'North Macedonia',
 'North Macedonia',
 'North Macedonia',
 'North Macedonia',
 'North Macedonia',
 'North Macedonia',
 'North Macedonia',
 'North Macedonia',
 'Malta',
 'Malta',
 'Malta',
 'Malta',
 'Malta',
 'Malta',
 'Malta',
 'Malta',
 'Malta',
 'Malta',
 'Malta',
 'Malta',
 'Netherlands',
 'Netherlands',
 'Netherlands',
 'Netherlands',
 'Netherlands',
 'Netherlands',
 'Netherlands',
 'Netherlands',
 'Netherlands',
 'Netherlands',
 'Netherlands',
 'Netherlands',
 'Norway',
 'Norway',
 'Norway',
 'Norway',
 'Norway',
 'Norway',
 'Norway',
 'Norway',
 'Norway',
 'Norway',
 'Norway',
 'Norway',
 'Poland',
 'Poland',
 'Poland',
 'Poland',
 'Poland',
 'Poland',
 'Poland',
 'Poland',
 'Poland',
 'Poland',
 'Poland',
 'Poland',
 'Portugal',
 'Portugal',
 'Portugal',
 'Portugal',
 'Portugal',
 'Portugal',
 'Portugal',
 'Portugal',
 'Portugal',
 'Portugal',
 'Portugal',
 'Portugal',
 'Romania',
 'Romania',
 'Romania',
 'Romania',
 'Romania',
 'Romania',
 'Romania',
 'Romania',
 'Romania',
 'Romania',
 'Romania',
 'Serbia',
 'Serbia',
 'Serbia',
 'Serbia',
 'Serbia',
 'Serbia',
 'Sweden',
 'Sweden',
 'Sweden',
 'Sweden',
 'Sweden',
 'Sweden',
 'Sweden',
 'Sweden',
 'Sweden',
 'Sweden',
 'Sweden',
 'Sweden',
 'Slovenia',
 'Slovenia',
 'Slovenia',
 'Slovenia',
 'Slovenia',
 'Slovenia',
 'Slovenia',
 'Slovenia',
 'Slovenia',
 'Slovenia',
 'Slovenia',
 'Slovenia',
 'Slovakia',
 'Slovakia',
 'Slovakia',
 'Slovakia',
 'Slovakia',
 'Slovakia',
 'Slovakia',
 'Slovakia',
 'Slovakia',
 'Slovakia',
 'Slovakia',
 'Slovakia',
 'Turkey',
 'Turkey',
 'Turkey',
 'Turkey',
 'Turkey',
 'Turkey',
 'Turkey',
 'Turkey',
 'Turkey',
 'Turkey',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'United Kingdom',
 'Kosovo',
 'Kosovo']

x = pd.Series(new_names)
df.insert(0, "Country names", x)
# df2 = pd.DataFrame({'Country names':new_names})
# df

In [4]:
df = df.groupby(by=["Country names","TIME_PERIOD"]).mean()
# df.drop(columns=['TIME_PERIOD'])
# df.to_csv('ict_out.csv')

# print(df.index.values.tolist())
# print(df.OBS_VALUE.values.tolist())
# df.sort_values(by=['TIME_PERIOD'])

df.reset_index(inplace=True)
# df.loc[df["TIME_PERIOD"].isin(['2019'])]
# check = df.loc[(df['TIME_PERIOD'] == 2011)] 
# check = df.loc[(df['TIME_PERIOD'] == 2012)] 
# check = df.loc[(df['TIME_PERIOD'] == 2013)] 
# check = df.loc[(df['TIME_PERIOD'] == 2014)] 
# check = df.loc[(df['TIME_PERIOD'] == 2015)] 
# check = df.loc[(df['TIME_PERIOD'] == 2016)] 
# check = df.loc[(df['TIME_PERIOD'] == 2017)] 
# check = df.loc[(df['TIME_PERIOD'] == 2018)] 
# check = df.loc[(df['TIME_PERIOD'] == 2019)] 
# check = df.loc[(df['TIME_PERIOD'] == 2020)] 
check = df.loc[(df['TIME_PERIOD'] == 2021)] 






print(check['Country names'].values.tolist())
print(check['OBS_VALUE'].values.tolist())

['Albania', 'Austria', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus', 'Czechia', 'Denmark', 'EU27_2020', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Montenegro', 'Netherlands', 'North Macedonia', 'Norway', 'Poland', 'Portugal', 'Romania', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey']
[4.91, 12.38, 14.37, 4.43, 6.66, 14.72, 9.42, 6.41, 36.33, 13.42, 19.83, 34.18, 15.72, 7.75, 10.31, 16.59, 23.07, 21.43, 13.65, 12.3, 14.79, 15.22, 14.56, 14.71, 22.25, 6.94, 29.53, 5.96, 14.85, 5.04, 11.43, 15.28, 12.44, 16.48, 27.69, 24.06, 8.97]

In [5]:
import pandas as pd
df2= pd.read_csv('data/eurostat2_unemployement.csv')

In [6]:


name= df2['geo'].values.tolist()

lst2=[]
for i in name:
    val = pycountry.countries.get(alpha_2=i)
    if val !=None:
        lst2.append(val.name)
    else:
#         lst2.append(pycountry.countries.get(alpha_3=i))
        lst2.append(i)


# print(lst2)

In [7]:
lst3= ['Austria', 'Austria', 'Austria', 'Austria', 'Austria', 'Austria', 'Austria', 'Austria', 'Austria', 'Austria', 'Austria', 'Austria', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Switzerland', 'Switzerland', 'Switzerland', 'Switzerland', 'Switzerland', 'Switzerland', 'Switzerland', 'Switzerland', 'Switzerland', 'Switzerland', 'Switzerland', 'Switzerland', 'Cyprus', 'Cyprus', 'Cyprus', 'Cyprus', 'Cyprus', 'Cyprus', 'Cyprus', 'Cyprus', 'Cyprus', 'Cyprus', 'Cyprus', 'Cyprus', 'Czechia', 'Czechia', 'Czechia', 'Czechia', 'Czechia', 'Czechia', 'Czechia', 'Czechia', 'Czechia', 'Czechia', 'Czechia', 'Czechia', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Denmark', 'Denmark', 'Denmark', 'Denmark', 'Denmark', 'Denmark', 'Denmark', 'Denmark', 'Denmark', 'Denmark', 'Denmark', 'Denmark', 'EA19', 'EA19', 'EA19', 'EA19', 'EA19', 'EA19', 'EA19', 'EA19', 'EA19', 'EA19', 'EA19', 'EA19', 'Estonia', 'Estonia', 'Estonia', 'Estonia', 'Estonia', 'Estonia', 'Estonia', 'Estonia', 'Estonia', 'Estonia', 'Estonia', 'Estonia', 'Greece', 'Greece', 'Greece', 'Greece', 'Greece', 'Greece', 'Greece', 'Greece', 'Greece', 'Greece', 'Greece', 'Greece', 'Spain', 'Spain', 'Spain', 'Spain', 'Spain', 'Spain', 'Spain', 'Spain', 'Spain', 'Spain', 'Spain', 'Spain', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'Finland', 'Finland', 'Finland', 'Finland', 'Finland', 'Finland', 'Finland', 'Finland', 'Finland', 'Finland', 'Finland', 'Finland', 'France', 'France', 'France', 'France', 'France', 'France', 'France', 'France', 'France', 'France', 'France', 'France', 'Croatia', 'Croatia', 'Croatia', 'Croatia', 'Croatia', 'Croatia', 'Croatia', 'Croatia', 'Croatia', 'Croatia', 'Croatia', 'Croatia', 'Hungary', 'Hungary', 'Hungary', 'Hungary', 'Hungary', 'Hungary', 'Hungary', 'Hungary', 'Hungary', 'Hungary', 'Hungary', 'Hungary', 'Ireland', 'Ireland', 'Ireland', 'Ireland', 'Ireland', 'Ireland', 'Ireland', 'Ireland', 'Ireland', 'Ireland', 'Ireland', 'Ireland', 'Iceland', 'Iceland', 'Iceland', 'Iceland', 'Iceland', 'Iceland', 'Iceland', 'Iceland', 'Iceland', 'Iceland', 'Iceland', 'Iceland', 'Italy', 'Italy', 'Italy', 'Italy', 'Italy', 'Italy', 'Italy', 'Italy', 'Italy', 'Italy', 'Italy', 'Italy', 'Lithuania', 'Lithuania', 'Lithuania', 'Lithuania', 'Lithuania', 'Lithuania', 'Lithuania', 'Lithuania', 'Lithuania', 'Lithuania', 'Lithuania', 'Lithuania', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Latvia', 'Latvia', 'Latvia', 'Latvia', 'Latvia', 'Latvia', 'Latvia', 'Latvia', 'Latvia', 'Latvia', 'Latvia', 'Latvia', 'Montenegro', 'Montenegro', 'Montenegro', 'Montenegro', 'Montenegro', 'Montenegro', 'Montenegro', 'Montenegro', 'Montenegro', 'Montenegro', 'North Macedonia', 'North Macedonia', 'North Macedonia', 'North Macedonia', 'North Macedonia', 'North Macedonia', 'North Macedonia', 'North Macedonia', 'North Macedonia', 'North Macedonia', 'North Macedonia', 'Malta', 'Malta', 'Malta', 'Malta', 'Malta', 'Malta', 'Malta', 'Malta', 'Malta', 'Malta', 'Malta', 'Malta', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Norway', 'Norway', 'Norway', 'Norway', 'Norway', 'Norway', 'Norway', 'Norway', 'Norway', 'Norway', 'Norway', 'Norway', 'Poland', 'Poland', 'Poland', 'Poland', 'Poland', 'Poland', 'Poland', 'Poland', 'Poland', 'Poland', 'Poland', 'Poland', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Romania', 'Romania', 'Romania', 'Romania', 'Romania', 'Romania', 'Romania', 'Romania', 'Romania', 'Romania', 'Romania', 'Romania', 'Serbia', 'Serbia', 'Serbia', 'Serbia', 'Serbia', 'Serbia', 'Serbia', 'Serbia', 'Serbia', 'Serbia', 'Serbia', 'Serbia', 'Sweden', 'Sweden', 'Sweden', 'Sweden', 'Sweden', 'Sweden', 'Sweden', 'Sweden', 'Sweden', 'Sweden', 'Sweden', 'Sweden', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovakia', 'Slovakia', 'Slovakia', 'Slovakia', 'Slovakia', 'Slovakia', 'Slovakia', 'Slovakia', 'Slovakia', 'Slovakia', 'Slovakia', 'Slovakia', 'Turkey', 'Turkey', 'Turkey', 'Turkey', 'Turkey', 'Turkey', 'Turkey', 'Turkey', 'Turkey', 'Turkey', 'Turkey', 'Austria', 'Austria', 'Austria', 'Austria', 'Austria', 'Austria', 'Austria', 'Austria', 'Austria', 'Austria', 'Austria', 'Austria', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Switzerland', 'Switzerland', 'Switzerland', 'Switzerland', 'Switzerland', 'Switzerland', 'Switzerland', 'Switzerland', 'Switzerland', 'Switzerland', 'Switzerland', 'Switzerland', 'Cyprus', 'Cyprus', 'Cyprus', 'Cyprus', 'Cyprus', 'Cyprus', 'Cyprus', 'Cyprus', 'Cyprus', 'Cyprus', 'Cyprus', 'Cyprus', 'Czechia', 'Czechia', 'Czechia', 'Czechia', 'Czechia', 'Czechia', 'Czechia', 'Czechia', 'Czechia', 'Czechia', 'Czechia', 'Czechia', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Denmark', 'Denmark', 'Denmark', 'Denmark', 'Denmark', 'Denmark', 'Denmark', 'Denmark', 'Denmark', 'Denmark', 'Denmark', 'Denmark', 'EA19', 'EA19', 'EA19', 'EA19', 'EA19', 'EA19', 'EA19', 'EA19', 'EA19', 'EA19', 'EA19', 'EA19', 'Estonia', 'Estonia', 'Estonia', 'Estonia', 'Estonia', 'Estonia', 'Estonia', 'Estonia', 'Estonia', 'Estonia', 'Estonia', 'Estonia', 'Greece', 'Greece', 'Greece', 'Greece', 'Greece', 'Greece', 'Greece', 'Greece', 'Greece', 'Greece', 'Greece', 'Greece', 'Spain', 'Spain', 'Spain', 'Spain', 'Spain', 'Spain', 'Spain', 'Spain', 'Spain', 'Spain', 'Spain', 'Spain', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'Finland', 'Finland', 'Finland', 'Finland', 'Finland', 'Finland', 'Finland', 'Finland', 'Finland', 'Finland', 'Finland', 'Finland', 'France', 'France', 'France', 'France', 'France', 'France', 'France', 'France', 'France', 'France', 'France', 'France', 'Croatia', 'Croatia', 'Croatia', 'Croatia', 'Croatia', 'Croatia', 'Croatia', 'Croatia', 'Croatia', 'Croatia', 'Croatia', 'Croatia', 'Hungary', 'Hungary', 'Hungary', 'Hungary', 'Hungary', 'Hungary', 'Hungary', 'Hungary', 'Hungary', 'Hungary', 'Hungary', 'Hungary', 'Ireland', 'Ireland', 'Ireland', 'Ireland', 'Ireland', 'Ireland', 'Ireland', 'Ireland', 'Ireland', 'Ireland', 'Ireland', 'Ireland', 'Iceland', 'Iceland', 'Iceland', 'Iceland', 'Iceland', 'Iceland', 'Iceland', 'Iceland', 'Iceland', 'Iceland', 'Iceland', 'Iceland', 'Italy', 'Italy', 'Italy', 'Italy', 'Italy', 'Italy', 'Italy', 'Italy', 'Italy', 'Italy', 'Italy', 'Italy', 'Lithuania', 'Lithuania', 'Lithuania', 'Lithuania', 'Lithuania', 'Lithuania', 'Lithuania', 'Lithuania', 'Lithuania', 'Lithuania', 'Lithuania', 'Lithuania', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Latvia', 'Latvia', 'Latvia', 'Latvia', 'Latvia', 'Latvia', 'Latvia', 'Latvia', 'Latvia', 'Latvia', 'Latvia', 'Latvia', 'Montenegro', 'Montenegro', 'Montenegro', 'Montenegro', 'Montenegro', 'Montenegro', 'Montenegro', 'Montenegro', 'Montenegro', 'Montenegro', 'North Macedonia', 'North Macedonia', 'North Macedonia', 'North Macedonia', 'North Macedonia', 'North Macedonia', 'North Macedonia', 'North Macedonia', 'North Macedonia', 'North Macedonia', 'North Macedonia', 'Malta', 'Malta', 'Malta', 'Malta', 'Malta', 'Malta', 'Malta', 'Malta', 'Malta', 'Malta', 'Malta', 'Malta', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Norway', 'Norway', 'Norway', 'Norway', 'Norway', 'Norway', 'Norway', 'Norway', 'Norway', 'Norway', 'Norway', 'Norway', 'Poland', 'Poland', 'Poland', 'Poland', 'Poland', 'Poland', 'Poland', 'Poland', 'Poland', 'Poland', 'Poland', 'Poland', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Romania', 'Romania', 'Romania', 'Romania', 'Romania', 'Romania', 'Romania', 'Romania', 'Romania', 'Romania', 'Romania', 'Romania', 'Serbia', 'Serbia', 'Serbia', 'Serbia', 'Serbia', 'Serbia', 'Serbia', 'Serbia', 'Serbia', 'Serbia', 'Serbia', 'Serbia', 'Sweden', 'Sweden', 'Sweden', 'Sweden', 'Sweden', 'Sweden', 'Sweden', 'Sweden', 'Sweden', 'Sweden', 'Sweden', 'Sweden', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovakia', 'Slovakia', 'Slovakia', 'Slovakia', 'Slovakia', 'Slovakia', 'Slovakia', 'Slovakia', 'Slovakia', 'Slovakia', 'Slovakia', 'Slovakia', 'Turkey', 'Turkey', 'Turkey', 'Turkey', 'Turkey', 'Turkey', 'Turkey', 'Turkey', 'Turkey', 'Turkey', 'Turkey', 'Austria', 'Austria', 'Austria', 'Austria', 'Austria', 'Austria', 'Austria', 'Austria', 'Austria', 'Austria', 'Austria', 'Austria', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Belgium', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Switzerland', 'Switzerland', 'Switzerland', 'Switzerland', 'Switzerland', 'Switzerland', 'Switzerland', 'Switzerland', 'Switzerland', 'Switzerland', 'Switzerland', 'Switzerland', 'Cyprus', 'Cyprus', 'Cyprus', 'Cyprus', 'Cyprus', 'Cyprus', 'Cyprus', 'Cyprus', 'Cyprus', 'Cyprus', 'Cyprus', 'Cyprus', 'Czechia', 'Czechia', 'Czechia', 'Czechia', 'Czechia', 'Czechia', 'Czechia', 'Czechia', 'Czechia', 'Czechia', 'Czechia', 'Czechia', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Germany', 'Denmark', 'Denmark', 'Denmark', 'Denmark', 'Denmark', 'Denmark', 'Denmark', 'Denmark', 'Denmark', 'Denmark', 'Denmark', 'Denmark', 'EA19', 'EA19', 'EA19', 'EA19', 'EA19', 'EA19', 'EA19', 'EA19', 'EA19', 'EA19', 'EA19', 'EA19', 'Estonia', 'Estonia', 'Estonia', 'Estonia', 'Estonia', 'Estonia', 'Estonia', 'Estonia', 'Estonia', 'Estonia', 'Estonia', 'Estonia', 'Greece', 'Greece', 'Greece', 'Greece', 'Greece', 'Greece', 'Greece', 'Greece', 'Greece', 'Greece', 'Greece', 'Greece', 'Spain', 'Spain', 'Spain', 'Spain', 'Spain', 'Spain', 'Spain', 'Spain', 'Spain', 'Spain', 'Spain', 'Spain', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'EU27_2020', 'Finland', 'Finland', 'Finland', 'Finland', 'Finland', 'Finland', 'Finland', 'Finland', 'Finland', 'Finland', 'Finland', 'Finland', 'France', 'France', 'France', 'France', 'France', 'France', 'France', 'France', 'France', 'France', 'France', 'France', 'Croatia', 'Croatia', 'Croatia', 'Croatia', 'Croatia', 'Croatia', 'Croatia', 'Croatia', 'Croatia', 'Croatia', 'Croatia', 'Croatia', 'Hungary', 'Hungary', 'Hungary', 'Hungary', 'Hungary', 'Hungary', 'Hungary', 'Hungary', 'Hungary', 'Hungary', 'Hungary', 'Hungary', 'Ireland', 'Ireland', 'Ireland', 'Ireland', 'Ireland', 'Ireland', 'Ireland', 'Ireland', 'Ireland', 'Ireland', 'Ireland', 'Ireland', 'Iceland', 'Iceland', 'Iceland', 'Iceland', 'Iceland', 'Iceland', 'Iceland', 'Iceland', 'Iceland', 'Iceland', 'Iceland', 'Iceland', 'Italy', 'Italy', 'Italy', 'Italy', 'Italy', 'Italy', 'Italy', 'Italy', 'Italy', 'Italy', 'Italy', 'Italy', 'Lithuania', 'Lithuania', 'Lithuania', 'Lithuania', 'Lithuania', 'Lithuania', 'Lithuania', 'Lithuania', 'Lithuania', 'Lithuania', 'Lithuania', 'Lithuania', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Luxembourg', 'Latvia', 'Latvia', 'Latvia', 'Latvia', 'Latvia', 'Latvia', 'Latvia', 'Latvia', 'Latvia', 'Latvia', 'Latvia', 'Latvia', 'Montenegro', 'Montenegro', 'Montenegro', 'Montenegro', 'Montenegro', 'Montenegro', 'Montenegro', 'Montenegro', 'Montenegro', 'Montenegro', 'North Macedonia', 'North Macedonia', 'North Macedonia', 'North Macedonia', 'North Macedonia', 'North Macedonia', 'North Macedonia', 'North Macedonia', 'North Macedonia', 'North Macedonia', 'North Macedonia', 'Malta', 'Malta', 'Malta', 'Malta', 'Malta', 'Malta', 'Malta', 'Malta', 'Malta', 'Malta', 'Malta', 'Malta', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Netherlands', 'Norway', 'Norway', 'Norway', 'Norway', 'Norway', 'Norway', 'Norway', 'Norway', 'Norway', 'Norway', 'Norway', 'Norway', 'Poland', 'Poland', 'Poland', 'Poland', 'Poland', 'Poland', 'Poland', 'Poland', 'Poland', 'Poland', 'Poland', 'Poland', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Portugal', 'Romania', 'Romania', 'Romania', 'Romania', 'Romania', 'Romania', 'Romania', 'Romania', 'Romania', 'Romania', 'Romania', 'Romania', 'Serbia', 'Serbia', 'Serbia', 'Serbia', 'Serbia', 'Serbia', 'Serbia', 'Serbia', 'Serbia', 'Serbia', 'Serbia', 'Serbia', 'Sweden', 'Sweden', 'Sweden', 'Sweden', 'Sweden', 'Sweden', 'Sweden', 'Sweden', 'Sweden', 'Sweden', 'Sweden', 'Sweden', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovenia', 'Slovakia', 'Slovakia', 'Slovakia', 'Slovakia', 'Slovakia', 'Slovakia', 'Slovakia', 'Slovakia', 'Slovakia', 'Slovakia', 'Slovakia', 'Slovakia', 'Turkey', 'Turkey', 'Turkey', 'Turkey', 'Turkey', 'Turkey', 'Turkey', 'Turkey', 'Turkey', 'Turkey', 'Turkey']
x = pd.Series(lst3)
df2.insert(0, "Country names", x)
# df2 = pd.DataFrame({'Country names':new_names})
df2

,Country names,DATAFLOW,LAST UPDATE,freq,age,unit,sex,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,Austria,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_ACT,T,AT,2010,5.2,NaN
1,Austria,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_ACT,T,AT,2011,4.9,NaN
2,Austria,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_ACT,T,AT,2012,5.2,NaN
3,Austria,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_ACT,T,AT,2013,5.7,NaN
4,Austria,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_ACT,T,AT,2014,6.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1279,Turkey,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,THS_PER,T,TR,2016,3308.0,NaN
1280,Turkey,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,THS_PER,T,TR,2017,3421.0,NaN
1281,Turkey,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,THS_PER,T,TR,2018,3512.0,NaN
1282,Turkey,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,THS_PER,T,TR,2019,4445.0,NaN
1283,Turkey,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,THS_PER,T,TR,2020,4045.0,NaN

In [8]:
# df4= df4[df4['unit']=='PC_POP']

df4 = df2.drop(df2.loc[df2['unit']=='PC_ACT'].index)

# df2['unit']

# df4 = df2.groupby(["Country names","unit"]).mean()
# df4.drop(columns=['TIME_PERIOD'])

# df4= df4[df4.columns[1]!='PC_POP']
df5  = df4.drop(df4.loc[df4['unit']=='THS_PER'].index)
df5

,Country names,DATAFLOW,LAST UPDATE,freq,age,unit,sex,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
428,Austria,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,AT,2010,3.4,NaN
429,Austria,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,AT,2011,3.3,NaN
430,Austria,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,AT,2012,3.5,NaN
431,Austria,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,AT,2013,3.8,NaN
432,Austria,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,AT,2014,4.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
851,Turkey,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,TR,2016,5.9,NaN
852,Turkey,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,TR,2017,6.0,NaN
853,Turkey,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,TR,2018,6.1,NaN
854,Turkey,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,TR,2019,7.6,NaN
855,Turkey,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,TR,2020,6.8,NaN

In [9]:
# df6 = df5.loc[(df['TIME_PERIOD'] == 2021)] 
# print(df6['Country names'].values.tolist())
# print(df6['OBS_VALUE'].values.tolist())
# df5
df6 = df5.loc[(df5['TIME_PERIOD'] == 2021)] 
# df5['TIME_PERIOD']

print(df6['Country names'].values.tolist())
print(df6['OBS_VALUE'].values.tolist())
df6

['Austria', 'Belgium', 'Bulgaria', 'Switzerland', 'Cyprus', 'Czechia', 'Germany', 'Denmark', 'EA19', 'Estonia', 'Greece', 'Spain', 'EU27_2020', 'Finland', 'France', 'Croatia', 'Hungary', 'Ireland', 'Iceland', 'Italy', 'Lithuania', 'Luxembourg', 'Latvia', 'Malta', 'Netherlands', 'Norway', 'Poland', 'Portugal', 'Romania', 'Serbia', 'Sweden', 'Slovenia', 'Slovakia']
[4.2, 3.8, 3.3, 3.9, 5.2, 1.9, 2.5, 3.6, 5.0, 4.4, 8.6, 9.6, 4.5, 5.2, 4.9, 4.5, 2.7, 4.3, 4.8, 5.3, 5.0, 3.5, 5.1, 2.3, 3.1, 3.2, 2.1, 4.4, 3.2, 6.7, 6.5, 3.1, 4.5]

,Country names,DATAFLOW,LAST UPDATE,freq,age,unit,sex,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
439,Austria,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,AT,2021,4.2,NaN
451,Belgium,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,BE,2021,3.8,NaN
463,Bulgaria,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,BG,2021,3.3,NaN
475,Switzerland,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,CH,2021,3.9,NaN
487,Cyprus,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,CY,2021,5.2,NaN
499,Czechia,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,CZ,2021,1.9,NaN
511,Germany,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,DE,2021,2.5,NaN
523,Denmark,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,DK,2021,3.6,NaN
535,EA19,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,EA19,2021,5.0,NaN
547,Estonia,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,EE,2021,4.4,NaN
559,Greece,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,EL,2021,8.6,NaN
571,Spain,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,ES,2021,9.6,d
583,EU27_2020,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,EU27_2020,2021,4.5,NaN
595,Finland,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,FI,2021,5.2,NaN
607,France,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,FR,2021,4.9,d
619,Croatia,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,HR,2021,4.5,NaN
631,Hungary,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,HU,2021,2.7,NaN
643,Ireland,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,IE,2021,4.3,NaN
655,Iceland,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,IS,2021,4.8,NaN
667,Italy,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,IT,2021,5.3,NaN
679,Lithuania,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,LT,2021,5.0,NaN
691,Luxembourg,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,LU,2021,3.5,NaN
703,Latvia,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,LV,2021,5.1,NaN
736,Malta,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,MT,2021,2.3,NaN
748,Netherlands,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,NL,2021,3.1,NaN
760,Norway,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,NO,2021,3.2,NaN
772,Poland,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,PL,2021,2.1,NaN
784,Portugal,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,PT,2021,4.4,NaN
796,Romania,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,RO,2021,3.2,NaN
808,Serbia,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,RS,2021,6.7,NaN
820,Sweden,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,SE,2021,6.5,NaN
832,Slovenia,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,SI,2021,3.1,NaN
844,Slovakia,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,SK,2021,4.5,NaN

In [10]:
df5 = df5.groupby(["Country names"]).mean()
df5
# df5.to_csv('unemplo_out.csv')

                 TIME_PERIOD  OBS_VALUE
Country names
Austria               2015.5   3.808333
Belgium               2015.5   4.383333
Bulgaria              2015.5   5.591667
Croatia               2015.5   7.041667
Cyprus                2015.5   7.191667
Czechia               2015.5   2.983333
Denmark               2015.5   4.383333
EA19                  2015.5   6.241667
EU27_2020             2015.5   5.783333
Estonia               2015.5   5.600000
Finland               2015.5   5.366667
France                2015.5   5.883333
Germany               2015.5   2.925000
Greece                2015.5  12.350000
Hungary               2015.5   4.025000
Iceland               2015.5   3.916667
Ireland               2015.5   6.583333
Italy                 2015.5   5.925000
Latvia                2015.5   7.333333
Lithuania             2015.5   6.675000
Luxembourg            2015.5   3.608333
Malta                 2015.5   3.025000
Montenegro            2015.5   9.980000
Netherlands           2015.5   4.541667
North Macedonia       2015.0  14.836364
Norway                2015.5   2.975000
Poland                2015.5   4.108333
Portugal              2015.5   7.216667
Romania               2015.5   3.900000
Serbia                2015.5   9.966667
Slovakia              2015.5   6.741667
Slovenia              2015.5   4.591667
Spain                 2015.5  12.841667
Sweden                2015.5   5.583333
Switzerland           2015.5   3.575000
Turkey                2015.0   5.609091

In [11]:
def foo(val,v):
    return 100-val

l = df5['OBS_VALUE'].tolist()

l2 = []
for i in l:
    l2.append(str(100-int(i)))
y = pd.Series(l2)
y

0     97
1     96
2     95
3     93
4     93
5     98
6     96
7     94
8     95
9     95
10    95
11    95
12    98
13    88
14    96
15    97
16    94
17    95
18    93
19    94
20    97
21    97
22    91
23    96
24    86
25    98
26    96
27    93
28    97
29    91
30    94
31    96
32    88
33    95
34    97
35    95
dtype: object

In [12]:
df5.insert(0, "Percentage of employmentnmj", y)
df5

                Percentage of employmentnmj  TIME_PERIOD  OBS_VALUE
Country names
Austria                                 NaN       2015.5   3.808333
Belgium                                 NaN       2015.5   4.383333
Bulgaria                                NaN       2015.5   5.591667
Croatia                                 NaN       2015.5   7.041667
Cyprus                                  NaN       2015.5   7.191667
Czechia                                 NaN       2015.5   2.983333
Denmark                                 NaN       2015.5   4.383333
EA19                                    NaN       2015.5   6.241667
EU27_2020                               NaN       2015.5   5.783333
Estonia                                 NaN       2015.5   5.600000
Finland                                 NaN       2015.5   5.366667
France                                  NaN       2015.5   5.883333
Germany                                 NaN       2015.5   2.925000
Greece                                  NaN       2015.5  12.350000
Hungary                                 NaN       2015.5   4.025000
Iceland                                 NaN       2015.5   3.916667
Ireland                                 NaN       2015.5   6.583333
Italy                                   NaN       2015.5   5.925000
Latvia                                  NaN       2015.5   7.333333
Lithuania                               NaN       2015.5   6.675000
Luxembourg                              NaN       2015.5   3.608333
Malta                                   NaN       2015.5   3.025000
Montenegro                              NaN       2015.5   9.980000
Netherlands                             NaN       2015.5   4.541667
North Macedonia                         NaN       2015.0  14.836364
Norway                                  NaN       2015.5   2.975000
Poland                                  NaN       2015.5   4.108333
Portugal                                NaN       2015.5   7.216667
Romania                                 NaN       2015.5   3.900000
Serbia                                  NaN       2015.5   9.966667
Slovakia                                NaN       2015.5   6.741667
Slovenia                                NaN       2015.5   4.591667
Spain                                   NaN       2015.5  12.841667
Sweden                                  NaN       2015.5   5.583333
Switzerland                             NaN       2015.5   3.575000
Turkey                                  NaN       2015.0   5.609091

In [13]:
df7= df6[['Country names','OBS_VALUE']]

In [14]:
merged_inner = pd.merge(left=check, right=df7, left_on='Country names', right_on='Country names')
merged_inner

   Country names  TIME_PERIOD  OBS_VALUE_x  OBS_VALUE_y
0        Austria         2021        12.38          4.2
1        Belgium         2021        14.37          3.8
2       Bulgaria         2021         6.66          3.3
3        Croatia         2021        14.72          4.5
4         Cyprus         2021         9.42          5.2
5        Czechia         2021         6.41          1.9
6        Denmark         2021        36.33          3.6
7      EU27_2020         2021        13.42          4.5
8        Estonia         2021        19.83          4.4
9        Finland         2021        34.18          5.2
10        France         2021        15.72          4.9
11       Germany         2021         7.75          2.5
12        Greece         2021        10.31          8.6
13       Hungary         2021        16.59          2.7
14       Iceland         2021        23.07          4.8
15       Ireland         2021        21.43          4.3
16         Italy         2021        13.65          5.3
17        Latvia         2021        12.30          5.1
18     Lithuania         2021        14.79          5.0
19    Luxembourg         2021        15.22          3.5
20         Malta         2021        14.56          2.3
21   Netherlands         2021        22.25          3.1
22        Norway         2021        29.53          3.2
23        Poland         2021         5.96          2.1
24      Portugal         2021        14.85          4.4
25       Romania         2021         5.04          3.2
26        Serbia         2021        11.43          6.7
27      Slovakia         2021        15.28          4.5
28      Slovenia         2021        12.44          3.1
29         Spain         2021        16.48          9.6
30        Sweden         2021        27.69          6.5
31   Switzerland         2021        24.06          3.9

In [15]:
merged_inner
label = merged_inner['Country names'].values.tolist()
label

['Austria',
 'Belgium',
 'Bulgaria',
 'Croatia',
 'Cyprus',
 'Czechia',
 'Denmark',
 'EU27_2020',
 'Estonia',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hungary',
 'Iceland',
 'Ireland',
 'Italy',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Malta',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Serbia',
 'Slovakia',
 'Slovenia',
 'Spain',
 'Sweden',
 'Switzerland']

In [16]:
dd = merged_inner[['OBS_VALUE_x','OBS_VALUE_y']].values.tolist()
dd

[[12.38, 4.2],
 [14.37, 3.8],
 [6.66, 3.3],
 [14.72, 4.5],
 [9.42, 5.2],
 [6.41, 1.9],
 [36.33, 3.6],
 [13.42, 4.5],
 [19.83, 4.4],
 [34.18, 5.2],
 [15.72, 4.9],
 [7.75, 2.5],
 [10.31, 8.6],
 [16.59, 2.7],
 [23.07, 4.8],
 [21.43, 4.3],
 [13.65, 5.3],
 [12.3, 5.1],
 [14.79, 5.0],
 [15.22, 3.5],
 [14.56, 2.3],
 [22.25, 3.1],
 [29.53, 3.2],
 [5.96, 2.1],
 [14.85, 4.4],
 [5.04, 3.2],
 [11.43, 6.7],
 [15.28, 4.5],
 [12.44, 3.1],
 [16.48, 9.6],
 [27.69, 6.5],
 [24.06, 3.9]]

In [17]:
lst=[]
# dic={'x':1,'y':0}
for i in dd:
#     print({x:i[0],y:i[1]})
    dic={}
    dic['x'] = i[0]
    dic['y'] = i[1]
    lst.append(dic)
lst

[{'x': 12.38, 'y': 4.2},
 {'x': 14.37, 'y': 3.8},
 {'x': 6.66, 'y': 3.3},
 {'x': 14.72, 'y': 4.5},
 {'x': 9.42, 'y': 5.2},
 {'x': 6.41, 'y': 1.9},
 {'x': 36.33, 'y': 3.6},
 {'x': 13.42, 'y': 4.5},
 {'x': 19.83, 'y': 4.4},
 {'x': 34.18, 'y': 5.2},
 {'x': 15.72, 'y': 4.9},
 {'x': 7.75, 'y': 2.5},
 {'x': 10.31, 'y': 8.6},
 {'x': 16.59, 'y': 2.7},
 {'x': 23.07, 'y': 4.8},
 {'x': 21.43, 'y': 4.3},
 {'x': 13.65, 'y': 5.3},
 {'x': 12.3, 'y': 5.1},
 {'x': 14.79, 'y': 5.0},
 {'x': 15.22, 'y': 3.5},
 {'x': 14.56, 'y': 2.3},
 {'x': 22.25, 'y': 3.1},
 {'x': 29.53, 'y': 3.2},
 {'x': 5.96, 'y': 2.1},
 {'x': 14.85, 'y': 4.4},
 {'x': 5.04, 'y': 3.2},
 {'x': 11.43, 'y': 6.7},
 {'x': 15.28, 'y': 4.5},
 {'x': 12.44, 'y': 3.1},
 {'x': 16.48, 'y': 9.6},
 {'x': 27.69, 'y': 6.5},
 {'x': 24.06, 'y': 3.9}]

In [18]:
import pandas as pd
df= pd.read_csv('data/OWID4_education.csv')

In [19]:
df9 = df.loc[(df['Year'] == 2015)]

In [20]:
df9['Code'].values.tolist()

['ALB',
 'DZA',
 'ARG',
 'AUS',
 'AUT',
 'BEL',
 'BRA',
 'BGR',
 'CAN',
 'CHL',
 'CHN',
 'COL',
 'CRI',
 'HRV',
 'CYP',
 'CZE',
 'DNK',
 'DOM',
 'EST',
 'FIN',
 'FRA',
 'GEO',
 'DEU',
 'GRC',
 'HKG',
 'HUN',
 'ISL',
 'IDN',
 'IRL',
 'ISR',
 'ITA',
 'JPN',
 'JOR',
 'KAZ',
 'OWID_KOS',
 'LVA',
 'LBN',
 'LTU',
 'LUX',
 'MAC',
 'MYS',
 'MLT',
 'MEX',
 'MDA',
 'MNE',
 'NLD',
 'NZL',
 'MKD',
 'NOR',
 'PER',
 'POL',
 'PRT',
 'QAT',
 'ROU',
 'RUS',
 'SGP',
 'SVK',
 'SVN',
 'KOR',
 'ESP',
 'SWE',
 'CHE',
 'THA',
 'TTO',
 'TUN',
 'TUR',
 'ARE',
 'GBR',
 'USA',
 'URY',
 'VNM']

In [21]:
df9['PISA: Mean performance on the reading scale'].values.tolist()

[405.2588,
 349.8593,
 425.3031,
 502.9006,
 484.8656,
 498.5242,
 407.3486,
 431.7175,
 526.6678,
 458.5709,
 493.9412,
 424.9052,
 427.4875,
 486.8632,
 442.8443,
 487.2501,
 499.8146,
 357.7377,
 519.1429,
 526.4247,
 499.3061,
 401.2881,
 509.1041,
 467.0395,
 526.6753,
 469.5233,
 481.5255,
 397.2595,
 520.8148,
 478.9606,
 484.758,
 515.9585,
 408.1022,
 427.141,
 347.1259,
 487.7581,
 346.54900000000004,
 472.4066,
 481.4391,
 508.6905,
 430.5782,
 446.6661,
 423.2765,
 416.2293,
 426.8845,
 502.9591,
 509.2707,
 351.7415,
 513.1912,
 397.5414,
 505.6971,
 498.1289,
 401.8874,
 433.6166,
 494.6278,
 535.1002,
 452.5143,
 505.2159,
 517.4367,
 495.5764,
 500.1556,
 492.1982,
 409.1301,
 427.2733,
 361.0555,
 428.3351,
 433.5423,
 497.9719,
 496.9351,
 436.5721,
 486.7738]

In [22]:
df= pd.read_csv('data/OWID1_ICT.csv')
df

           Entity Code  Year  Individuals using the Internet (% of population)
0     Afghanistan  AFG  1990                                          0.000000
1     Afghanistan  AFG  1991                                          0.000000
2     Afghanistan  AFG  1992                                          0.000000
3     Afghanistan  AFG  1993                                          0.000000
4     Afghanistan  AFG  1994                                          0.000000
...           ...  ...   ...                                               ...
6528     Zimbabwe  ZWE  2016                                         23.119989
6529     Zimbabwe  ZWE  2017                                         24.400000
6530     Zimbabwe  ZWE  2018                                         25.000000
6531     Zimbabwe  ZWE  2019                                         25.100000
6532     Zimbabwe  ZWE  2020                                         29.299999

[6533 rows x 4 columns]

In [23]:
df10 = df.loc[(df['Year'] == 2020)] 

df10

,Entity,Code,Year,Individuals using the Internet (% of population)
25,Afghanistan,AFG,2020,18.400000
56,Albania,ALB,2020,72.239998
87,Algeria,DZA,2020,62.900002
151,Angola,AGO,2020,36.000000
209,Argentina,ARG,2020,85.500000
...,...,...,...,...
6324,Uzbekistan,UZB,2020,71.099998
6411,Vietnam,VNM,2020,70.300003
6442,World,OWID_WRL,2020,59.940247
6501,Zambia,ZMB,2020,19.799999
6532,Zimbabwe,ZWE,2020,29.299999

In [24]:
m = pd.merge(left=df9, right=df10, left_on='Code', right_on='Code')
m

,Entity_x,Code,Year_x,PISA: Mean performance on the reading scale,Entity_y,Year_y,Individuals using the Internet (% of population)
0,Albania,ALB,2015,405.2588,Albania,2020,72.239998
1,Algeria,DZA,2015,349.8593,Algeria,2020,62.900002
2,Argentina,ARG,2015,425.3031,Argentina,2020,85.500000
3,Australia,AUS,2015,502.9006,Australia,2020,89.599998
4,Austria,AUT,2015,484.8656,Austria,2020,87.529427
...,...,...,...,...,...,...,...
62,United Arab Emirates,ARE,2015,433.5423,United Arab Emirates,2020,100.000000
63,United Kingdom,GBR,2015,497.9719,United Kingdom,2020,94.818199
64,United States,USA,2015,496.9351,United States,2020,90.900002
65,Uruguay,URY,2015,436.5721,Uruguay,2020,86.099998
66,Vietnam,VNM,2015,486.7738,Vietnam,2020,70.300003

In [25]:
newm = m[['Entity_x','Code','PISA: Mean performance on the reading scale','Individuals using the Internet (% of population)']]

In [26]:
!pip install countrygroups
from countrygroups import EUROPEAN_UNION

print(EUROPEAN_UNION)

Requirement already satisfied: countrygroups in c:\users\ahsan\appdata\local\programs\python\python310\lib\site-packages (0.13.0)
Requirement already satisfied: shortcountrynames in c:\users\ahsan\appdata\local\programs\python\python310\lib\site-packages (from countrygroups) (0.10.0)
['AUT', 'BEL', 'BGR', 'CYP', 'CZE', 'DEU', 'DNK', 'ESP', 'EST', 'FIN', 'FRA', 'GRC', 'HRV', 'HUN', 'IRL', 'ITA', 'LTU', 'LUX', 'LVA', 'MLT', 'NLD', 'POL', 'PRT', 'ROU', 'SVK', 'SVN', 'SWE']

WARNING: You are using pip version 22.0.3; however, version 22.3.1 is available.
You should consider upgrading via the 'C:\Users\ahsan\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [27]:
newm = newm.loc[(newm['Code'].isin(['AUT', 'BEL', 'BGR', 'CYP', 'CZE', 'DEU', 'DNK', 'ESP', 'EST', 'FIN', 'FRA', 'GRC', 'HRV', 'HUN', 'IRL', 'ITA', 'LTU', 'LUX', 'LVA', 'MLT', 'NLD', 'POL', 'PRT', 'ROU', 'SVK', 'SVN', 'SWE']))] 
newm

,Entity_x,Code,PISA: Mean performance on the reading scale,Individuals using the Internet (% of population)
4,Austria,AUT,484.8656,87.529427
5,Belgium,BEL,498.5242,91.526413
7,Bulgaria,BGR,431.7175,70.160004
13,Croatia,HRV,486.8632,78.320930
14,Cyprus,CYP,442.8443,90.801949
15,Czechia,CZE,487.2501,81.338898
16,Denmark,DNK,499.8146,96.549149
18,Estonia,EST,519.1429,89.058289
19,Finland,FIN,526.4247,92.169998
20,France,FRA,499.3061,84.800003
22,Germany,DEU,509.1041,89.812943
23,Greece,GRC,467.0395,78.115845
25,Hungary,HUN,469.5233,84.771149
28,Ireland,IRL,520.8148,91.999893
30,Italy,ITA,484.7580,70.483429
33,Latvia,LVA,487.7581,88.900002
35,Lithuania,LTU,472.4066,83.055550
36,Luxembourg,LUX,481.4391,98.822426
39,Malta,MLT,446.6661,86.858765
42,Netherlands,NLD,502.9591,91.333336
47,Poland,POL,505.6971,83.184891
48,Portugal,PRT,498.1289,78.261658
50,Romania,ROU,433.6166,78.455269
53,Slovakia,SVK,452.5143,89.920906
54,Slovenia,SVN,505.2159,86.601303
56,Spain,ESP,495.5764,93.205650
57,Sweden,SWE,500.1556,94.539429

In [28]:
newm['Entity_x'].values.tolist()

['Austria',
 'Belgium',
 'Bulgaria',
 'Croatia',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Estonia',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hungary',
 'Ireland',
 'Italy',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Malta',
 'Netherlands',
 'Poland',
 'Portugal',
 'Romania',
 'Slovakia',
 'Slovenia',
 'Spain',
 'Sweden']

In [29]:
new_pop = newm[['PISA: Mean performance on the reading scale','Individuals using the Internet (% of population)']].values.tolist()
new_pop

[[484.8656, 87.52942657470703],
 [498.5242, 91.5264129638672],
 [431.7175, 70.16000366210938],
 [486.8632, 78.32093048095703],
 [442.8443, 90.80194854736328],
 [487.2501, 81.33889770507812],
 [499.8146, 96.54914855957033],
 [519.1429, 89.05828857421875],
 [526.4247, 92.16999816894533],
 [499.3061, 84.80000305175781],
 [509.1041, 89.81294250488281],
 [467.0395, 78.1158447265625],
 [469.5233, 84.77114868164062],
 [520.8148, 91.99989318847656],
 [484.758, 70.48342895507812],
 [487.7581, 88.9000015258789],
 [472.4066, 83.05554962158203],
 [481.4391, 98.82242584228516],
 [446.6661, 86.8587646484375],
 [502.9591, 91.33333587646484],
 [505.6971, 83.18489074707031],
 [498.1289, 78.26165771484375],
 [433.6166, 78.45526885986328],
 [452.5143, 89.92090606689453],
 [505.2159, 86.60130310058594],
 [495.5764, 93.20565032958984],
 [500.1556, 94.5394287109375]]

In [30]:
lst=[]
# dic={'x':1,'y':0}
for i in new_pop:
#     print({x:i[0],y:i[1]})
    dic={}
    dic['x'] = round(i[0],3)
    dic['y'] = round(i[1],3)
    lst.append(dic)
lst

[{'x': 484.866, 'y': 87.529},
 {'x': 498.524, 'y': 91.526},
 {'x': 431.717, 'y': 70.16},
 {'x': 486.863, 'y': 78.321},
 {'x': 442.844, 'y': 90.802},
 {'x': 487.25, 'y': 81.339},
 {'x': 499.815, 'y': 96.549},
 {'x': 519.143, 'y': 89.058},
 {'x': 526.425, 'y': 92.17},
 {'x': 499.306, 'y': 84.8},
 {'x': 509.104, 'y': 89.813},
 {'x': 467.039, 'y': 78.116},
 {'x': 469.523, 'y': 84.771},
 {'x': 520.815, 'y': 92.0},
 {'x': 484.758, 'y': 70.483},
 {'x': 487.758, 'y': 88.9},
 {'x': 472.407, 'y': 83.056},
 {'x': 481.439, 'y': 98.822},
 {'x': 446.666, 'y': 86.859},
 {'x': 502.959, 'y': 91.333},
 {'x': 505.697, 'y': 83.185},
 {'x': 498.129, 'y': 78.262},
 {'x': 433.617, 'y': 78.455},
 {'x': 452.514, 'y': 89.921},
 {'x': 505.216, 'y': 86.601},
 {'x': 495.576, 'y': 93.206},
 {'x': 500.156, 'y': 94.539}]

In [31]:
df= pd.read_csv('data/eurostat3_demography.csv')
df

,DATAFLOW,LAST UPDATE,freq,indic_de,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,AD,2011,78115,b
1,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,AD,2012,78115,NaN
2,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,AD,2013,76246,NaN
3,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,AD,2016,71732,NaN
4,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,AD,2018,74794,e
...,...,...,...,...,...,...,...,...
599,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,XK,2017,1783531,e
600,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,XK,2018,1798506,NaN
601,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,XK,2019,1795666,NaN
602,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,XK,2020,1782115,NaN
603,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,XK,2021,1798188,e

In [32]:
df11 = df.loc[(df['TIME_PERIOD'] == 2022)]

In [33]:
df11

,DATAFLOW,LAST UPDATE,freq,indic_de,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
7,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,AD,2022,79535,NaN
19,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,AL,2022,2793592,NaN
42,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,AT,2022,8978929,NaN
54,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,AZ,2022,10156366,NaN
75,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,BE,2022,11631136,p
87,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,BG,2022,6838937,NaN
109,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,CH,2022,8736510,p
121,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,CY,2022,904705,p
133,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,CZ,2022,10516707,NaN
145,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,DE,2022,83237124,NaN
157,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,DK,2022,5873420,NaN
169,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,EA18,2022,340080986,bep
181,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,EA19,2022,342886984,bep
193,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,EE,2022,1331796,NaN
205,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,EL,2022,10603810,e
217,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,ES,2022,47432805,p
229,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,EU27_2020,2022,446828803,bep
250,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,FI,2022,5548241,NaN
262,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,FR,2022,67842582,p
276,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,GE,2022,3688647,NaN
288,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,HR,2022,3879074,bp
300,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,HU,2022,9689010,NaN
312,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,IE,2022,5060005,NaN
324,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,IS,2022,376248,NaN
336,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,IT,2022,58983122,p
348,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,LI,2022,39308,p
360,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,LT,2022,2805998,NaN
372,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,LU,2022,645397,NaN
384,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,LV,2022,1875757,NaN
411,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,ME,2022,617683,NaN
423,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,MK,2022,1836713,b
435,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,MT,2022,520971,NaN
447,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,NL,2022,17590672,NaN
459,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,NO,2022,5425270,NaN
471,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,PL,2022,37654247,NaN
483,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,PT,2022,10352042,bp
495,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,RO,2022,19038098,e
507,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,RS,2022,6797105,NaN
522,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,SE,2022,10452326,NaN
534,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,SI,2022,2107180,NaN
546,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,SK,2022,5434712,NaN
558,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,SM,2022,33698,NaN
570,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,TR,2022,84680273,NaN
582,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,UA,2022,40997698,e

In [34]:
df11['OBS_VALUE'].values.tolist()

[79535,
 2793592,
 8978929,
 10156366,
 11631136,
 6838937,
 8736510,
 904705,
 10516707,
 83237124,
 5873420,
 340080986,
 342886984,
 1331796,
 10603810,
 47432805,
 446828803,
 5548241,
 67842582,
 3688647,
 3879074,
 9689010,
 5060005,
 376248,
 58983122,
 39308,
 2805998,
 645397,
 1875757,
 617683,
 1836713,
 520971,
 17590672,
 5425270,
 37654247,
 10352042,
 19038098,
 6797105,
 10452326,
 2107180,
 5434712,
 33698,
 84680273,
 40997698]

In [35]:
import pycountry

name= df11['geo'].values.tolist()

lst2=[]
for i in name:
    val = pycountry.countries.get(alpha_2=i)
    if val !=None:
        lst2.append(val.name)
    else:
#         lst2.append(pycountry.countries.get(alpha_3=i))
        lst2.append(i)
    
lst2

['Andorra',
 'Albania',
 'Austria',
 'Azerbaijan',
 'Belgium',
 'Bulgaria',
 'Switzerland',
 'Cyprus',
 'Czechia',
 'Germany',
 'Denmark',
 'EA18',
 'EA19',
 'Estonia',
 'EL',
 'Spain',
 'EU27_2020',
 'Finland',
 'France',
 'Georgia',
 'Croatia',
 'Hungary',
 'Ireland',
 'Iceland',
 'Italy',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Montenegro',
 'North Macedonia',
 'Malta',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Serbia',
 'Sweden',
 'Slovenia',
 'Slovakia',
 'San Marino',
 'Turkey',
 'Ukraine']

In [36]:
c_names= ['Andorra',
 'Albania',
 'Austria',
 'Azerbaijan',
 'Belgium',
 'Bulgaria',
 'Switzerland',
 'Cyprus',
 'Czechia',
 'Germany',
 'Denmark',
 'EA18',
 'EA19',
 'Estonia',
 'EL',
 'Spain',
 'EU27_2020',
 'Finland',
 'France',
 'Georgia',
 'Croatia',
 'Hungary',
 'Ireland',
 'Iceland',
 'Italy',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Montenegro',
 'North Macedonia',
 'Malta',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Serbia',
 'Sweden',
 'Slovenia',
 'Slovakia',
 'San Marino',
 'Turkey',
 'Ukraine']

In [37]:
x = pd.Series(c_names)
df11.insert(0, "Country names", x)

In [38]:
df11

,Country names,DATAFLOW,LAST UPDATE,freq,indic_de,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
7,Cyprus,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,AD,2022,79535,NaN
19,Georgia,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,AL,2022,2793592,NaN
42,Turkey,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,AT,2022,8978929,NaN
54,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,AZ,2022,10156366,NaN
75,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,BE,2022,11631136,p
87,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,BG,2022,6838937,NaN
109,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,CH,2022,8736510,p
121,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,CY,2022,904705,p
133,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,CZ,2022,10516707,NaN
145,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,DE,2022,83237124,NaN
157,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,DK,2022,5873420,NaN
169,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,EA18,2022,340080986,bep
181,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,EA19,2022,342886984,bep
193,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,EE,2022,1331796,NaN
205,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,EL,2022,10603810,e
217,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,ES,2022,47432805,p
229,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,EU27_2020,2022,446828803,bep
250,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,FI,2022,5548241,NaN
262,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,FR,2022,67842582,p
276,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,GE,2022,3688647,NaN
288,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,HR,2022,3879074,bp
300,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,HU,2022,9689010,NaN
312,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,IE,2022,5060005,NaN
324,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,IS,2022,376248,NaN
336,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,IT,2022,58983122,p
348,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,LI,2022,39308,p
360,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,LT,2022,2805998,NaN
372,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,LU,2022,645397,NaN
384,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,LV,2022,1875757,NaN
411,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,ME,2022,617683,NaN
423,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,MK,2022,1836713,b
435,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,MT,2022,520971,NaN
447,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,NL,2022,17590672,NaN
459,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,NO,2022,5425270,NaN
471,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,PL,2022,37654247,NaN
483,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,PT,2022,10352042,bp
495,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,RO,2022,19038098,e
507,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,RS,2022,6797105,NaN
522,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,SE,2022,10452326,NaN
534,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,SI,2022,2107180,NaN
546,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,SK,2022,5434712,NaN
558,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,SM,2022,33698,NaN
570,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,TR,2022,84680273,NaN
582,NaN,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,UA,2022,40997698,e

In [39]:
df= pd.read_csv('data/eurostat3_demography.csv')
df11 = df.loc[(df['TIME_PERIOD'] == 2022)] 

# df11.reset_index(drop=True)
# x = pd.Series(c_names)
# df11.insert(0, "Country names", x)
# df11
x = pd.Series(c_names)
df11 = df11.reset_index()
df11.insert(0, "Country names", x)
df11

,Country names,index,DATAFLOW,LAST UPDATE,freq,indic_de,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,Andorra,7,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,AD,2022,79535,NaN
1,Albania,19,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,AL,2022,2793592,NaN
2,Austria,42,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,AT,2022,8978929,NaN
3,Azerbaijan,54,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,AZ,2022,10156366,NaN
4,Belgium,75,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,BE,2022,11631136,p
5,Bulgaria,87,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,BG,2022,6838937,NaN
6,Switzerland,109,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,CH,2022,8736510,p
7,Cyprus,121,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,CY,2022,904705,p
8,Czechia,133,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,CZ,2022,10516707,NaN
9,Germany,145,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,DE,2022,83237124,NaN
10,Denmark,157,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,DK,2022,5873420,NaN
11,EA18,169,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,EA18,2022,340080986,bep
12,EA19,181,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,EA19,2022,342886984,bep
13,Estonia,193,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,EE,2022,1331796,NaN
14,EL,205,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,EL,2022,10603810,e
15,Spain,217,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,ES,2022,47432805,p
16,EU27_2020,229,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,EU27_2020,2022,446828803,bep
17,Finland,250,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,FI,2022,5548241,NaN
18,France,262,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,FR,2022,67842582,p
19,Georgia,276,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,GE,2022,3688647,NaN
20,Croatia,288,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,HR,2022,3879074,bp
21,Hungary,300,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,HU,2022,9689010,NaN
22,Ireland,312,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,IE,2022,5060005,NaN
23,Iceland,324,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,IS,2022,376248,NaN
24,Italy,336,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,IT,2022,58983122,p
25,Liechtenstein,348,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,LI,2022,39308,p
26,Lithuania,360,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,LT,2022,2805998,NaN
27,Luxembourg,372,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,LU,2022,645397,NaN
28,Latvia,384,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,LV,2022,1875757,NaN
29,Montenegro,411,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,ME,2022,617683,NaN
30,North Macedonia,423,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,MK,2022,1836713,b
31,Malta,435,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,MT,2022,520971,NaN
32,Netherlands,447,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,NL,2022,17590672,NaN
33,Norway,459,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,NO,2022,5425270,NaN
34,Poland,471,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,PL,2022,37654247,NaN
35,Portugal,483,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,PT,2022,10352042,bp
36,Romania,495,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,RO,2022,19038098,e
37,Serbia,507,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,RS,2022,6797105,NaN
38,Sweden,522,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,SE,2022,10452326,NaN
39,Slovenia,534,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,SI,2022,2107180,NaN
40,Slovakia,546,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,SK,2022,5434712,NaN
41,San Marino,558,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,SM,2022,33698,NaN
42,Turkey,570,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,TR,2022,84680273,NaN
43,Ukraine,582,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,UA,2022,40997698,e

In [40]:
newm

,Entity_x,Code,PISA: Mean performance on the reading scale,Individuals using the Internet (% of population)
4,Austria,AUT,484.8656,87.529427
5,Belgium,BEL,498.5242,91.526413
7,Bulgaria,BGR,431.7175,70.160004
13,Croatia,HRV,486.8632,78.320930
14,Cyprus,CYP,442.8443,90.801949
15,Czechia,CZE,487.2501,81.338898
16,Denmark,DNK,499.8146,96.549149
18,Estonia,EST,519.1429,89.058289
19,Finland,FIN,526.4247,92.169998
20,France,FRA,499.3061,84.800003
22,Germany,DEU,509.1041,89.812943
23,Greece,GRC,467.0395,78.115845
25,Hungary,HUN,469.5233,84.771149
28,Ireland,IRL,520.8148,91.999893
30,Italy,ITA,484.7580,70.483429
33,Latvia,LVA,487.7581,88.900002
35,Lithuania,LTU,472.4066,83.055550
36,Luxembourg,LUX,481.4391,98.822426
39,Malta,MLT,446.6661,86.858765
42,Netherlands,NLD,502.9591,91.333336
47,Poland,POL,505.6971,83.184891
48,Portugal,PRT,498.1289,78.261658
50,Romania,ROU,433.6166,78.455269
53,Slovakia,SVK,452.5143,89.920906
54,Slovenia,SVN,505.2159,86.601303
56,Spain,ESP,495.5764,93.205650
57,Sweden,SWE,500.1556,94.539429

In [41]:
merged_inner = pd.merge(left=df11, right=newm, left_on='Country names', right_on='Entity_x')
merged_inner

,Country names,index,DATAFLOW,LAST UPDATE,freq,indic_de,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,Entity_x,Code,PISA: Mean performance on the reading scale,Individuals using the Internet (% of population)
0,Austria,42,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,AT,2022,8978929,NaN,Austria,AUT,484.8656,87.529427
1,Belgium,75,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,BE,2022,11631136,p,Belgium,BEL,498.5242,91.526413
2,Bulgaria,87,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,BG,2022,6838937,NaN,Bulgaria,BGR,431.7175,70.160004
3,Cyprus,121,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,CY,2022,904705,p,Cyprus,CYP,442.8443,90.801949
4,Czechia,133,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,CZ,2022,10516707,NaN,Czechia,CZE,487.2501,81.338898
5,Germany,145,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,DE,2022,83237124,NaN,Germany,DEU,509.1041,89.812943
6,Denmark,157,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,DK,2022,5873420,NaN,Denmark,DNK,499.8146,96.549149
7,Estonia,193,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,EE,2022,1331796,NaN,Estonia,EST,519.1429,89.058289
8,Spain,217,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,ES,2022,47432805,p,Spain,ESP,495.5764,93.205650
9,Finland,250,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,FI,2022,5548241,NaN,Finland,FIN,526.4247,92.169998
10,France,262,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,FR,2022,67842582,p,France,FRA,499.3061,84.800003
11,Croatia,288,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,HR,2022,3879074,bp,Croatia,HRV,486.8632,78.320930
12,Hungary,300,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,HU,2022,9689010,NaN,Hungary,HUN,469.5233,84.771149
13,Ireland,312,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,IE,2022,5060005,NaN,Ireland,IRL,520.8148,91.999893
14,Italy,336,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,IT,2022,58983122,p,Italy,ITA,484.7580,70.483429
15,Lithuania,360,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,LT,2022,2805998,NaN,Lithuania,LTU,472.4066,83.055550
16,Luxembourg,372,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,LU,2022,645397,NaN,Luxembourg,LUX,481.4391,98.822426
17,Latvia,384,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,LV,2022,1875757,NaN,Latvia,LVA,487.7581,88.900002
18,Malta,435,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,MT,2022,520971,NaN,Malta,MLT,446.6661,86.858765
19,Netherlands,447,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,NL,2022,17590672,NaN,Netherlands,NLD,502.9591,91.333336
20,Poland,471,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,PL,2022,37654247,NaN,Poland,POL,505.6971,83.184891
21,Portugal,483,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,PT,2022,10352042,bp,Portugal,PRT,498.1289,78.261658
22,Romania,495,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,RO,2022,19038098,e,Romania,ROU,433.6166,78.455269
23,Sweden,522,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,SE,2022,10452326,NaN,Sweden,SWE,500.1556,94.539429
24,Slovenia,534,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,SI,2022,2107180,NaN,Slovenia,SVN,505.2159,86.601303
25,Slovakia,546,ESTAT:TPS00001(1.0),01/12/22 23:00:00,A,JAN,SK,2022,5434712,NaN,Slovakia,SVK,452.5143,89.920906

In [42]:
merged_inner['Country names'].values.tolist()

['Austria',
 'Belgium',
 'Bulgaria',
 'Cyprus',
 'Czechia',
 'Germany',
 'Denmark',
 'Estonia',
 'Spain',
 'Finland',
 'France',
 'Croatia',
 'Hungary',
 'Ireland',
 'Italy',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Malta',
 'Netherlands',
 'Poland',
 'Portugal',
 'Romania',
 'Sweden',
 'Slovenia',
 'Slovakia']

In [43]:
new_m = merged_inner[['PISA: Mean performance on the reading scale','Individuals using the Internet (% of population)','OBS_VALUE']]
# new_m
# !pip install sklearn

from sklearn import preprocessing

x = new_m[['PISA: Mean performance on the reading scale','OBS_VALUE']].values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)
df

           0         1
0   0.561183  0.102253
1   0.705403  0.134317
2   0.000000  0.076381
3   0.117486  0.004639
4   0.586361  0.120844
5   0.817114  1.000000
6   0.719028  0.064709
7   0.923112  0.009802
8   0.674277  0.567142
9   1.000000  0.060777
10  0.713659  0.813887
11  0.582276  0.040598
12  0.399186  0.110837
13  0.940766  0.054875
14  0.560047  0.706780
15  0.429630  0.027625
16  0.525003  0.001504
17  0.591725  0.016379
18  0.157840  0.000000
19  0.752230  0.206365
20  0.781140  0.448924
21  0.701229  0.118853
22  0.020052  0.223863
23  0.722628  0.120065
24  0.776059  0.019177
25  0.219590  0.059405

In [44]:
new_m = merged_inner[['Individuals using the Internet (% of population)']]

In [45]:
df.insert(0, "Individuals using the Internet (% of population)", new_m)

In [46]:
lst_com= df.values.tolist()

In [47]:
lst=[]
# dic={'x':1,'y':0}
for i in lst_com:
#     print({x:i[0],y:i[1]})
    dic={}
    dic['x'] = round(i[0],3)
    dic['y'] = round(i[1]*100,3)
    dic['r'] = round(i[2]*50,3)
    lst.append(dic)
lst

[{'x': 87.529, 'y': 56.118, 'r': 5.113},
 {'x': 91.526, 'y': 70.54, 'r': 6.716},
 {'x': 70.16, 'y': 0.0, 'r': 3.819},
 {'x': 90.802, 'y': 11.749, 'r': 0.232},
 {'x': 81.339, 'y': 58.636, 'r': 6.042},
 {'x': 89.813, 'y': 81.711, 'r': 50.0},
 {'x': 96.549, 'y': 71.903, 'r': 3.235},
 {'x': 89.058, 'y': 92.311, 'r': 0.49},
 {'x': 93.206, 'y': 67.428, 'r': 28.357},
 {'x': 92.17, 'y': 100.0, 'r': 3.039},
 {'x': 84.8, 'y': 71.366, 'r': 40.694},
 {'x': 78.321, 'y': 58.228, 'r': 2.03},
 {'x': 84.771, 'y': 39.919, 'r': 5.542},
 {'x': 92.0, 'y': 94.077, 'r': 2.744},
 {'x': 70.483, 'y': 56.005, 'r': 35.339},
 {'x': 83.056, 'y': 42.963, 'r': 1.381},
 {'x': 98.822, 'y': 52.5, 'r': 0.075},
 {'x': 88.9, 'y': 59.172, 'r': 0.819},
 {'x': 86.859, 'y': 15.784, 'r': 0.0},
 {'x': 91.333, 'y': 75.223, 'r': 10.318},
 {'x': 83.185, 'y': 78.114, 'r': 22.446},
 {'x': 78.262, 'y': 70.123, 'r': 5.943},
 {'x': 78.455, 'y': 2.005, 'r': 11.193},
 {'x': 94.539, 'y': 72.263, 'r': 6.003},
 {'x': 86.601, 'y': 77.606, 'r': 0.959},
 {'x': 89.921, 'y': 21.959, 'r': 2.97}]

In [51]:
# ed_in = newm.reset_index()
ed_in

,index,Entity_x,Code,PISA: Mean performance on the reading scale,Individuals using the Internet (% of population)
0,4,Austria,AUT,484.8656,87.529427
1,5,Belgium,BEL,498.5242,91.526413
2,7,Bulgaria,BGR,431.7175,70.160004
3,13,Croatia,HRV,486.8632,78.320930
4,14,Cyprus,CYP,442.8443,90.801949
5,15,Czechia,CZE,487.2501,81.338898
6,16,Denmark,DNK,499.8146,96.549149
7,18,Estonia,EST,519.1429,89.058289
8,19,Finland,FIN,526.4247,92.169998
9,20,France,FRA,499.3061,84.800003
10,22,Germany,DEU,509.1041,89.812943
11,23,Greece,GRC,467.0395,78.115845
12,25,Hungary,HUN,469.5233,84.771149
13,28,Ireland,IRL,520.8148,91.999893
14,30,Italy,ITA,484.7580,70.483429
15,33,Latvia,LVA,487.7581,88.900002
16,35,Lithuania,LTU,472.4066,83.055550
17,36,Luxembourg,LUX,481.4391,98.822426
18,39,Malta,MLT,446.6661,86.858765
19,42,Netherlands,NLD,502.9591,91.333336
20,47,Poland,POL,505.6971,83.184891
21,48,Portugal,PRT,498.1289,78.261658
22,50,Romania,ROU,433.6166,78.455269
23,53,Slovakia,SVK,452.5143,89.920906
24,54,Slovenia,SVN,505.2159,86.601303
25,56,Spain,ESP,495.5764,93.205650
26,57,Sweden,SWE,500.1556,94.539429

In [53]:
# unemp = df6.reset_index()
unemp

,index,Country names,DATAFLOW,LAST UPDATE,freq,age,unit,sex,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,439,Austria,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,AT,2021,4.2,NaN
1,451,Belgium,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,BE,2021,3.8,NaN
2,463,Bulgaria,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,BG,2021,3.3,NaN
3,475,Switzerland,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,CH,2021,3.9,NaN
4,487,Cyprus,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,CY,2021,5.2,NaN
5,499,Czechia,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,CZ,2021,1.9,NaN
6,511,Germany,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,DE,2021,2.5,NaN
7,523,Denmark,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,DK,2021,3.6,NaN
8,535,EA19,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,EA19,2021,5.0,NaN
9,547,Estonia,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,EE,2021,4.4,NaN
10,559,Greece,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,EL,2021,8.6,NaN
11,571,Spain,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,ES,2021,9.6,d
12,583,EU27_2020,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,EU27_2020,2021,4.5,NaN
13,595,Finland,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,FI,2021,5.2,NaN
14,607,France,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,FR,2021,4.9,d
15,619,Croatia,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,HR,2021,4.5,NaN
16,631,Hungary,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,HU,2021,2.7,NaN
17,643,Ireland,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,IE,2021,4.3,NaN
18,655,Iceland,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,IS,2021,4.8,NaN
19,667,Italy,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,IT,2021,5.3,NaN
20,679,Lithuania,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,LT,2021,5.0,NaN
21,691,Luxembourg,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,LU,2021,3.5,NaN
22,703,Latvia,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,LV,2021,5.1,NaN
23,736,Malta,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,MT,2021,2.3,NaN
24,748,Netherlands,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,NL,2021,3.1,NaN
25,760,Norway,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,NO,2021,3.2,NaN
26,772,Poland,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,PL,2021,2.1,NaN
27,784,Portugal,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,PT,2021,4.4,NaN
28,796,Romania,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,RO,2021,3.2,NaN
29,808,Serbia,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,RS,2021,6.7,NaN
30,820,Sweden,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,SE,2021,6.5,NaN
31,832,Slovenia,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,SI,2021,3.1,NaN
32,844,Slovakia,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,SK,2021,4.5,NaN

In [55]:
new_merged_inner = pd.merge(left=ed_in, right=unemp, left_on='Entity_x', right_on='Country names')

new_merged_inner

,index_x,Entity_x,Code,PISA: Mean performance on the reading scale,Individuals using the Internet (% of population),index_y,Country names,DATAFLOW,LAST UPDATE,freq,age,unit,sex,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,4,Austria,AUT,484.8656,87.529427,439,Austria,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,AT,2021,4.2,NaN
1,5,Belgium,BEL,498.5242,91.526413,451,Belgium,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,BE,2021,3.8,NaN
2,7,Bulgaria,BGR,431.7175,70.160004,463,Bulgaria,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,BG,2021,3.3,NaN
3,13,Croatia,HRV,486.8632,78.320930,619,Croatia,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,HR,2021,4.5,NaN
4,14,Cyprus,CYP,442.8443,90.801949,487,Cyprus,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,CY,2021,5.2,NaN
5,15,Czechia,CZE,487.2501,81.338898,499,Czechia,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,CZ,2021,1.9,NaN
6,16,Denmark,DNK,499.8146,96.549149,523,Denmark,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,DK,2021,3.6,NaN
7,18,Estonia,EST,519.1429,89.058289,547,Estonia,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,EE,2021,4.4,NaN
8,19,Finland,FIN,526.4247,92.169998,595,Finland,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,FI,2021,5.2,NaN
9,20,France,FRA,499.3061,84.800003,607,France,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,FR,2021,4.9,d
10,22,Germany,DEU,509.1041,89.812943,511,Germany,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,DE,2021,2.5,NaN
11,23,Greece,GRC,467.0395,78.115845,559,Greece,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,EL,2021,8.6,NaN
12,25,Hungary,HUN,469.5233,84.771149,631,Hungary,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,HU,2021,2.7,NaN
13,28,Ireland,IRL,520.8148,91.999893,643,Ireland,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,IE,2021,4.3,NaN
14,30,Italy,ITA,484.7580,70.483429,667,Italy,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,IT,2021,5.3,NaN
15,33,Latvia,LVA,487.7581,88.900002,703,Latvia,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,LV,2021,5.1,NaN
16,35,Lithuania,LTU,472.4066,83.055550,679,Lithuania,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,LT,2021,5.0,NaN
17,36,Luxembourg,LUX,481.4391,98.822426,691,Luxembourg,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,LU,2021,3.5,NaN
18,39,Malta,MLT,446.6661,86.858765,736,Malta,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,MT,2021,2.3,NaN
19,42,Netherlands,NLD,502.9591,91.333336,748,Netherlands,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,NL,2021,3.1,NaN
20,47,Poland,POL,505.6971,83.184891,772,Poland,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,PL,2021,2.1,NaN
21,48,Portugal,PRT,498.1289,78.261658,784,Portugal,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,PT,2021,4.4,NaN
22,50,Romania,ROU,433.6166,78.455269,796,Romania,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,RO,2021,3.2,NaN
23,53,Slovakia,SVK,452.5143,89.920906,844,Slovakia,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,SK,2021,4.5,NaN
24,54,Slovenia,SVN,505.2159,86.601303,832,Slovenia,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,SI,2021,3.1,NaN
25,56,Spain,ESP,495.5764,93.205650,571,Spain,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,ES,2021,9.6,d
26,57,Sweden,SWE,500.1556,94.539429,820,Sweden,ESTAT:TPS00203(1.0),17/11/22 09:58:00,A,Y15-74,PC_POP,T,SE,2021,6.5,NaN

In [58]:
x = new_merged_inner[['PISA: Mean performance on the reading scale','OBS_VALUE']].values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)
df


# lst_com= new_merged_inner[['Individuals using the Internet (% of population)','PISA: Mean performance on the reading scale','OBS_VALUE']].values.tolist()
# lst_com

           0         1
0   0.561183  0.298701
1   0.705403  0.246753
2   0.000000  0.181818
3   0.582276  0.337662
4   0.117486  0.428571
5   0.586361  0.000000
6   0.719028  0.220779
7   0.923112  0.324675
8   1.000000  0.428571
9   0.713659  0.389610
10  0.817114  0.077922
11  0.372960  0.870130
12  0.399186  0.103896
13  0.940766  0.311688
14  0.560047  0.441558
15  0.591725  0.415584
16  0.429630  0.402597
17  0.525003  0.207792
18  0.157840  0.051948
19  0.752230  0.155844
20  0.781140  0.025974
21  0.701229  0.324675
22  0.020052  0.168831
23  0.219590  0.337662
24  0.776059  0.155844
25  0.674277  1.000000
26  0.722628  0.597403

In [59]:
new_mf = new_merged_inner[['Individuals using the Internet (% of population)']]
df.insert(0, "Individuals using the Internet (% of population)", new_mf)
df

    Individuals using the Internet (% of population)         0         1
0                                          87.529427  0.561183  0.298701
1                                          91.526413  0.705403  0.246753
2                                          70.160004  0.000000  0.181818
3                                          78.320930  0.582276  0.337662
4                                          90.801949  0.117486  0.428571
5                                          81.338898  0.586361  0.000000
6                                          96.549149  0.719028  0.220779
7                                          89.058289  0.923112  0.324675
8                                          92.169998  1.000000  0.428571
9                                          84.800003  0.713659  0.389610
10                                         89.812943  0.817114  0.077922
11                                         78.115845  0.372960  0.870130
12                                         84.771149  0.399186  0.103896
13                                         91.999893  0.940766  0.311688
14                                         70.483429  0.560047  0.441558
15                                         88.900002  0.591725  0.415584
16                                         83.055550  0.429630  0.402597
17                                         98.822426  0.525003  0.207792
18                                         86.858765  0.157840  0.051948
19                                         91.333336  0.752230  0.155844
20                                         83.184891  0.781140  0.025974
21                                         78.261658  0.701229  0.324675
22                                         78.455269  0.020052  0.168831
23                                         89.920906  0.219590  0.337662
24                                         86.601303  0.776059  0.155844
25                                         93.205650  0.674277  1.000000
26                                         94.539429  0.722628  0.597403

In [60]:
lst_com= df.values.tolist()
lst_com

[[87.52942657470703, 0.5611833102446271, 0.29870129870129875],
 [91.5264129638672, 0.7054025459521558, 0.24675324675324678],
 [70.16000366210938, 0.0, 0.18181818181818182],
 [78.32093048095703, 0.5822756875929178, 0.3376623376623377],
 [90.80194854736328, 0.1174863157183399, 0.42857142857142866],
 [81.33889770507812, 0.5863609102581426, 0.0],
 [96.54914855957033, 0.7190276979997288, 0.2207792207792208],
 [89.05828857421875, 0.9231124983105827, 0.32467532467532473],
 [92.16999816894533, 1.0, 0.42857142857142866],
 [84.80000305175781, 0.7136585180429789, 0.3896103896103897],
 [89.81294250488281, 0.8171142215164204, 0.07792207792207795],
 [78.1158447265625, 0.372960028382213, 0.8701298701298703],
 [84.77114868164062, 0.3991861231247462, 0.10389610389610393],
 [91.99989318847656, 0.9407658551831322, 0.31168831168831174],
 [70.48342895507812, 0.5600471769833755, 0.44155844155844154],
 [88.9000015258789, 0.5917248107852409, 0.41558441558441556],
 [83.05554962158203, 0.42963048215975164, 0.4025974025974027],
 [98.82242584228516, 0.5250033788349775, 0.2077922077922078],
 [86.8587646484375, 0.1578401642113798, 0.05194805194805191],
 [91.33333587646484, 0.752230031085281, 0.1558441558441559],
 [83.18489074707031, 0.7811401878632243, 0.025974025974025983],
 [78.26165771484375, 0.7012286288687655, 0.32467532467532473],
 [78.45526885986328, 0.020052329706716776, 0.1688311688311689],
 [89.92090606689453, 0.2195904852007029, 0.3376623376623377],
 [86.60130310058594, 0.7760592647655082, 0.1558441558441559],
 [93.20565032958984, 0.6742771404919576, 1.0000000000000002],
 [94.5394287109375, 0.7226282690228407, 0.5974025974025974]]

In [61]:
lst=[]
# dic={'x':1,'y':0}
for i in lst_com:
#     print({x:i[0],y:i[1]})
    dic={}
    dic['x'] = round(i[0],3)
    dic['y'] = round(i[1]*100,3)
    dic['r'] = round(i[2]*50,3)
    lst.append(dic)
lst

[{'x': 87.529, 'y': 56.118, 'r': 14.935},
 {'x': 91.526, 'y': 70.54, 'r': 12.338},
 {'x': 70.16, 'y': 0.0, 'r': 9.091},
 {'x': 78.321, 'y': 58.228, 'r': 16.883},
 {'x': 90.802, 'y': 11.749, 'r': 21.429},
 {'x': 81.339, 'y': 58.636, 'r': 0.0},
 {'x': 96.549, 'y': 71.903, 'r': 11.039},
 {'x': 89.058, 'y': 92.311, 'r': 16.234},
 {'x': 92.17, 'y': 100.0, 'r': 21.429},
 {'x': 84.8, 'y': 71.366, 'r': 19.481},
 {'x': 89.813, 'y': 81.711, 'r': 3.896},
 {'x': 78.116, 'y': 37.296, 'r': 43.506},
 {'x': 84.771, 'y': 39.919, 'r': 5.195},
 {'x': 92.0, 'y': 94.077, 'r': 15.584},
 {'x': 70.483, 'y': 56.005, 'r': 22.078},
 {'x': 88.9, 'y': 59.172, 'r': 20.779},
 {'x': 83.056, 'y': 42.963, 'r': 20.13},
 {'x': 98.822, 'y': 52.5, 'r': 10.39},
 {'x': 86.859, 'y': 15.784, 'r': 2.597},
 {'x': 91.333, 'y': 75.223, 'r': 7.792},
 {'x': 83.185, 'y': 78.114, 'r': 1.299},
 {'x': 78.262, 'y': 70.123, 'r': 16.234},
 {'x': 78.455, 'y': 2.005, 'r': 8.442},
 {'x': 89.921, 'y': 21.959, 'r': 16.883},
 {'x': 86.601, 'y': 77.606, 'r': 7.792},
 {'x': 93.206, 'y': 67.428, 'r': 50.0},
 {'x': 94.539, 'y': 72.263, 'r': 29.87}]

In [63]:
new_merged_inner['Entity_x'].values.tolist()

['Austria',
 'Belgium',
 'Bulgaria',
 'Croatia',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Estonia',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hungary',
 'Ireland',
 'Italy',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Malta',
 'Netherlands',
 'Poland',
 'Portugal',
 'Romania',
 'Slovakia',
 'Slovenia',
 'Spain',
 'Sweden']